# [Table Of Contents](#)
### The Art of Data Storytelling

# The Global Superstore Case

This page contains student files for the case "Modern Retail Analytics: Data Visualization Using Tableau." It includes three detailed tutorials that can be used by instructors in the classroom to introduce students to Tableau and Data Storytelling in the context of retail strategy and operations (using the [Global Superstore dataset](files/Global.Superstore.xlsx) that is made available with Tableau).

### Assignment Three

1. Assess Nigeria’s profitability (i.e., total profit) for 2014. How does it compare to other African countries?
2. What factors might be responsible for Nigeria’s poor performance? You might want to investigate shipping costs and the average discount as potential root causes.

In [24]:
import pandas as pd
import numpy as np

In [41]:
# dataStore = pd.read_csv('Global.Superstore.xlsx', error_bad_lines=False)
# df = pd.read_csv("Global.Superstore.xlsx")
fileName="Global.Superstore.xlsx"
df = pd.read_excel(fileName)

In [43]:
df.tail()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
51285,29002,IN-2014-62366,2016-06-19,2016-06-19 00:00:00,Same Day,KE-16420,Katrina Edelman,Corporate,Kure,Hiroshima,...,OFF-FA-10000746,Office Supplies,Fasteners,"Advantus Thumb Tacks, 12 Pack",65.100,5,0.0,4.5000,0.010,Medium
51286,35398,US-2014-102288,2016-06-20,2016-06-24 00:00:00,Standard Class,ZC-21910,Zuschuss Carroll,Consumer,Houston,Texas,...,OFF-AP-10002906,Office Supplies,Appliances,Hoover Replacement Belt for Commercial Guardsm...,0.444,1,0.8,-1.1100,0.010,Medium
51287,40470,US-2013-155768,2015-12-02,2015-12-02 00:00:00,Same Day,LB-16795,Laurel Beltran,Home Office,Oxnard,California,...,OFF-EN-10001219,Office Supplies,Envelopes,"#10- 4 1/8"" x 9 1/2"" Security-Tint Envelopes",22.920,3,0.0,11.2308,0.010,High
51288,9596,MX-2012-140767,2014-02-18,2014-02-22 00:00:00,Standard Class,RB-19795,Ross Baird,Home Office,Valinhos,São Paulo,...,OFF-BI-10000806,Office Supplies,Binders,"Acco Index Tab, Economy",13.440,2,0.0,2.4000,0.003,Medium
51289,6147,MX-2012-134460,2014-05-22,2014-05-26 00:00:00,Second Class,MC-18100,Mick Crebagga,Consumer,Tipitapa,Managua,...,OFF-PA-10004155,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",61.380,3,0.0,1.8000,0.002,High

In [44]:
print(df.shape)
print(df.columns)

(51290, 24)
Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'City', 'State', 'Country',
       'Postal Code', 'Market', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'],
      dtype='object')

In [45]:
df.dtypes["Country"]

dtype('O')

In [48]:
df.Country

0        United States
1            Australia
2            Australia
3              Germany
4              Senegal
             ...
51285            Japan
51286    United States
51287    United States
51288           Brazil
51289        Nicaragua
Name: Country, Length: 51290, dtype: object